<svg width="38mm" height="38mm" viewBox="0 0 380 380" xmlns="http://www.w3.org/2000/svg">
  <!-- 
    SVG Label
    Overall dimensions: 38mm x 38mm
  -->
  <style>
    .label-text {
      font-family: "{{font.family}}", serif;
    }
    .sublabel-text {
      font-family: "{{font.family}}", serif;
    }
  </style>
  

  <!-- Outer Circle -->
  <!-- 
    - Diameter: 35mm (Radius: 17.5mm)
    - Centered at (19, 19)
    - Stroke width: 3mm
  -->
  <circle 
    cx="190" 
    cy="190" 
    r="175" 
    stroke="black" 
    stroke-width="7" 
    fill="none" 
  />

  <!-- Inner Circle -->
  <!-- 
    - Offset from outer circle by 5mm, so radius is 17.5 - 5 = 12.5mm
    - Centered at (19, 19)
    - Stroke width: 1mm
  -->
  <circle 
    cx="190" 
    cy="190" 
    r="162" 
    stroke="black" 
    stroke-width="2" 
    fill="none" 
  />

  <!-- Text Block -->
  <!-- 
    - Centered horizontally using text-anchor="middle"
    - Centered vertically as a group
    - Font: sans-serif for clean readability
    1 Line (max 10 chars): y="180" font-size="60", y="240" font-size="40"
  -->
  <g font-family="sans-serif" text-anchor="middle" dominant-baseline="middle">
    <!-- First line of text -->
    <text x="190" y="180" font-size="60" class="label-text">{{label}}</text>
    
    <!-- Second line of text, smaller font -->
    <text x="190" y="240" font-size="40" class="sublabel-text">{{sublabel}}</text>
  </g>

</svg>